body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.form-group-condensed {
    margin-bottom: 0;
}

.remove-row {
    color: lightgray;
    cursor: pointer;
}

a.remove-row:hover {
    color: #333;
    text-decoration: none;
}

.row-command {
    color: lightgray;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

a.row-command:hover {
    color: #333;
    text-decoration: none;
}

.breadcrumb {
    margin-top: 25px;
}

.module-children {
    display: none;
    /*margin-left:25px;*/
}

.panel-small {
    margin-bottom: 5px;
}

.panel-small > .panel-body {
    padding-top: 5px;
}

.module-button {
    padding-top: 0px;
    padding-bottom: 15px;
}