@model IEnumerable<EquipmentManager.Data.ItemCategory>

@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">Item Categories</li>
</ol>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>
