@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-md-6">
        <ul class="list-unstyled">
            <li>@Html.ActionLink("Equipment", "Index", "Equipment")</li>
            <li>@Html.ActionLink("Installations", "Index", "Installations")</li>
            <li>@Html.ActionLink("Items", "Index", "Items")</li>
        </ul>
    </div>
</div>